header {
    text-align: center;
    border: 500px;
    background-color: rgb(41, 243, 226);
    padding: 1px;
}
form {
    border: 10px;
}
main {
    margin-bottom: 30px;
}
form {
    background-color: rgb(29, 245, 245);

}

.kina {
    display: flex;
    align-items: center;
}

input[type="submit"] {
    font-size: large;
    font-weight: 700;
}

@media screen and (max-width: 600px) {   
    form {
        display: flex;
        flex-direction: column;

    }

    .pele {
        display: flex;
        flex-direction: column;
    }
    
}