nav {
    box-sizing: border-box;
    padding: 0;
    margin: 40px;
    text-align: center;
    text-size-adjust: 12px;
    clear: both;
}
nav a {
    text-decoration: none;
    color: rgb(10, 76, 218);
    padding: 15px 30px;
    background-color: rgb(19, 246, 250);
    border: 5px solid rgb(68, 171, 226);
    margin: 0 10px 0 10px;
    border-radius: 15px;
}

a:hover {
    color: aqua;
    background-color: rgb(51, 85, 238);
}
img {
    width: 100%;
    border-radius: 15px;
}