header {
    text-align: center;
    background-color: rgb(228, 123, 123);
    padding: 10%;
    color: rgb(255, 255, 255);
}
nav {
    text-align: center;
    background-color: rgb(153, 230, 204);
    padding: 10px;
}
nav a {
    align-items: center;
    margin: 2%;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(191, 236, 236);
    flex-direction: row;
    flex-wrap: wrap;
}
img {
    width: 200px;
}
.Willy {
    display: flex;
    flex-direction: column;
}
footer {
        text-align: center;
        background-color: antiquewhite;
}

.buu {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;

}
.Bottom {
    display: flex;
    justify-content: space-evenly;
    padding: 1px;
    flex-direction: column;
    text-align: center;
}