header {
    text-align: center;
    background-color: rgb(228, 123, 123);
    padding: 10%;
    color: rgb(255, 255, 255);
}
nav {
    text-align: center;
    background-color: rgb(153, 230, 204);
    padding: 10px;
}
nav a {
    align-items: center;
    margin: 2%;
    text-align: center;
}

div {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(191, 236, 236);
}
img {
    width: 100%;
}
.Willy {
    display: flex;
    flex-direction: column;
}
footer {
        text-align: center;
        background-color: antiquewhite;
    }

@media screen and (max-width: 600px) {  
    body {
        background-color: rgb(55, 145, 145);
    } 
    .Willy {
        display: flex;
        flex-direction:column;

    }
    nav {
        flex-direction: column;
    }
    aside {
        background-color: rgb(209, 240, 227);
        width: 100%;
    }
    div {
        flex-direction: column;
    }
    img {
        width: 100%;
    }
    .kaiga {
        width: 100%;
        background-color: rgb(152, 240, 211);
    }
    footer {
        text-align: center;
        background-color: aquamarine;
        color: rgb(228, 31, 185);
    }
}
