header h1 {
    text-align: center;
    background-color: rgb(19, 246, 250);
    border: 3px solid rgb(68, 171, 226);
    margin: 20px 5px 20px 5px;

}
nav {
    box-sizing: border-box;
    padding: 1%;
    text-align: center;
    text-size-adjust: 12px;
    clear: both;
    background-color: rgb(19, 246, 250);
    border: 5px solid rgb(103, 190, 236);
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    background-color: #0eebf7;
    position: relative;
}
nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

img {
    width: 100%;
    border-radius: 15px;
}
iframe {
    width:500px;
    border: thick solid rgb(20, 11, 11);
}

aside {
    float: left;
    background-color: rgb(32, 120, 197);
    width: 500px;
}main {
    text-align:center;
}
.container1{
    display: flex;  
    flex-direction: row;
    }
.pic {
    width: 300px;
}

th {
    border: 1px solid rgb(106, 165, 11);
    padding: 5px;
    background-color: #8cc9cc;
    border-radius: 10px;
}
.taipola {
    display: grid;

}

@media only screen and (max-width: 950px) {   
    nav {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .topnav {
      overflow: hidden;
      background-color: rgb(36, 247, 251);
      position: relative;
    }
    .topnav #myLinks {
      display: none;
    }
     aside {
        background-color: rgb(36, 247, 251);
        width: 100%;

    }
    .container1{
    display: flex;  
    flex-direction: column;
    width: 100%;
    }
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    .pic {
        width: 100%;
    }
} 