.example-div {
    background-color: rgb(247, 177, 72);
    border: 5px solid rgb(221, 125, 14);
    box-sizing: border-box;
    padding: 0;
    margin: 50px;
    text-align: center;
    border-radius: 15px;
    
}
.example-box {
    background-color: rgb(238, 163, 51);
    border: 5px solid rgb(207, 127, 6);
    box-sizing: border-box;
    padding: 0;
    margin: 40px;
    text-align: center;
    text-size-adjust: 12px;
    clear: both;
    border-radius: 15px;
}
img {
    width: 100%;
    border-radius: 15px;
}

#pic {
    width: 500px;
    float: right;
}
nav {
    background-color: rgb(238, 163, 51);
    border: 5px solid rgb(207, 127, 6);
    box-sizing: border-box;
    padding: 0;
    margin: 40px;
    text-align: center;
    text-size-adjust: 12px;
    clear: both;
    border-radius: 15px;
}

nav a {
    text-decoration: none;
    color: blue;
    padding: 0 10px 010px;
}

a:hover {
    color: aqua;
}